<div class="row">
  <div class="col-auto">
    <h2>Welcome, {{name}}!</h2>
  </div>
</div>

<div class="row mt-4">

    <h3 class="has-text-success">Create a New Post:</h3>

<form class="form new-post-form">
 <div class="form-group">
        <label class="label" for="post-state">Post-Title:</label>
        <input class="form-input" type="text" id="post-name" name="post-name" />
      </div>
<div class="form-group">
        <label class="label" for="post-desc">Text:</label>
        <textarea class="form-input" id="post-desc" name="post-desc"></textarea>
</div>
<div class="form-group">
        <button type="submit" class="btn btn-primary">Create</button>
      </div>
</form>



  {{#if posts.length}}
  <div class="col-md-6 post-list">
    <h3>Your Posts:</h3>

    {{#each posts as |post|}}
   <div id="body-style" class="card my-4">
  <header class="card-header">
    <div class="card-header-title is-size-4 has-text-white">
      <a href="/post/{{post.id}}">
        <h2 class="has-text-success"> {{post.name}}</h2>
      </a>
    </div>
    <p>Created on {{format_date post.date_created}}</p>
  </header>
     
      <div class="col-md-4">
        <a href = "/profile/edit/{{post.id}}">
        UPDATE
        </a>
        <button class="btn btn-sm btn-danger delete" data-id="{{post.id}}">DELETE</button>
        
      </div>
    </div>
    {{/each}}
  </div>
  {{/if}}
</div>

<script src="./js/profile.js"></script>


